#cb {
    -fx-background-image: url("Background.jpg");
    -fx-background-size: cover;
}

#title {
    -fx-font-size: 30;
    -fx-background-radius: 20;
     -fx-text-fill: black;
}

Label, Button {
    -fx-background-radius: 20;
    -fx-font-size: 15;
    -fx-text-fill: black;
}

Button {
    -fx-opacity: 0.65;
}

.root {
    -fx-font-family: "Times New Roman";
}